# Django & Ecosystem
Django
django-allauth
django-cors-headers
djangorestframework
djangorestframework_simplejwt

# Database & related
psycopg
psycopg2-binary
sqlparse
asgiref

# Asynchronous
channels==4.1.0
channels-redis==4.2.0
daphne
redis

# Utilities
python-dotenv
requests
urllib3
certifi
charset-normalizer
idna
typing_extensions

# Image Processing
pillow

pyotp
qrcode
drf-yasg